.section {
  height: 80vh;
}

.flex__column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex__row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.overflow {
  overflow: auto;
}
